/*Stylesheet for css project*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
    font-family:Georgia, Times, serif;
    font-size: 18px;
}

h1, h2, h3{
    font-family: Helvetica ,Arial, sans-serif;
}

#container {
    width: 760px;
    margin: 0 auto;
}

header{
    text-align: center;
    background-color: white;
    color: #1a71b8;
    padding:  10px;
}

article{
    background: white;
    padding: 20px;
    margin: 20px 0;
}

article p{
    margin: 0 0 1em;
}

section.article-head small{
    display: block;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: solid 1px #eee;
    color: #00c6a0;
}

section.article-footer{
    font-size: 14px;
    border-top: solid 1px #eee;
    margin: 20px 0 0;
    padding: 20px 0 0;
}

footer{
    text-align: center;
    color: #333;
    font-size:14px; 
}